li,
a {
  text-decoration: none;
  list-style: none;
}
header {
  margin: 30px 100px 0px 100px;
}
.header-section {
  display: inline-flex;
  align-items: center;
  gap: 121px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.btn_start {
  display: flex;
  padding: 18px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgba(255, 255, 255, 1);

  /* Sub Heading 2 */
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.btn-user {
  border-radius: 30px;
  background-color: rgba(22, 99, 249, 1);
  border: none;
}
