.work-logo {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  margin: 0 48px 0 48px;
}
.logo-item {
  width: 246px;
  height: 225px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #f2f3f8;
}
.item-logo-icon {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 128px 30px 30px;
}
.item-icon-1 {
  background: linear-gradient(158deg, #d555c7 14.46%, #f396ea 79.18%);
}
.item-icon-2 {
  background: linear-gradient(160deg, #f49235 11.67%, #ffb46d 82.2%);
}
.item-icon-3 {
  background: linear-gradient(339deg, #6bcefd 11.58%, #32a9df 88.12%);
}
.item-icon-4 {
  background: linear-gradient(158deg, #ff7999 17.3%, #ffbdcc 82.95%);
}

.item-logo-icon img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.main-work {
  margin: 70px 135px 0;
}
.logo-icon-text {
  color: var(--Dark, #1f2326);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  margin-left: 30px;
}
.work-title {
  /* margin: 120px 0 0 59px; */

  display: inline-block;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /* width: 1051px; */
  margin: 0 auto;
  margin-top: 120px;
  /* border: 2px solid black; */
}
.work-title_text {
  color: var(--Dark, #1f2326);
  text-align: center;
  width: 810px;
  /* H2 */
  font-family: Sora;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
  /* margin: 0 0 0 179.5px; */
}
.work-title_text_number {
  color: var(--Primary, #1663f9);
  display: inline-flex;

  /* H2 */
  font-family: Sora;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.work-title_icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
