#header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.infomation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.lh_phone,
.lh_email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    line-height: 22px;
}
.lh_phone a,
.lh_email a {
    
    line-height: 22px;
    
}