#header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.infomation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.lh_phone,
.lh_email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}
.lh_phone a,
.lh_email a {
    color: rgb(26, 26, 26);
    
}