.look-shop-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.look-shop {
  max-width: 1320px;
  margin: 0 auto;
}
.look-title {
  text-align: center;
}
.look-cart {
  border-radius: 10px;
  overflow: hidden;
}
