#main {
  margin: 30px 0;
}
#main h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  margin: 50px 0;
}
.cart-img {
  height: 410px;
  overflow: hidden;
  position: relative;
}

.main_cart {
}
.main_cart img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}
.image_2 {
  opacity: 0;
  width: 100%;
  height: 100%;
}
.image_1 {
  width: 100%;
  height: 100%;
}
.main_cart:hover .image_1 {
  opacity: 0; /* Khi hover, ẩn image1 */
}
.main_cart:hover .image_2 {
  opacity: 1; /* Khi hover, hiện image2 */
}
.main_cart {
  width: calc(100% / 6);
}
.main_product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  gap: 15px;
}
.cart-title {
  margin-top: 10px;
}
.cart-title h4,
p,
span {
  padding: 8px 0;
}
.cart-title span {
  font-size: 14px;
  font-weight: 700;
}
