
.btn:hover {
    /* border-bottom: 2px solid var(--primary-color); */
    color: var(--primary-color);
}
.btn::after {
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: all 0.3s;
}
.btn:hover::after {
    width: 100%;
    
}