.user_1 {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.user_text {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-top: 60px;
}
.image_user {
    border-radius: 50%;
    box-shadow: 0 0 0 3px red, 0 0 0 6px #FF6651;
    margin-top: 60px;
}
.color_name {
    color: rgb(19, 176, 245) !important;
}
