.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: so;
}
.main-title {
    font-size: 30px;
    color: black;
}
.text {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 15px;
}
h1 {
    font-size: 60px;
    line-height: 0;

}
p {
    padding-top: 140px;
}