.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: so;
}
.main-title {
    size: 50px;
    color: black;
}
.text {
    text-transform: uppercase;
    font-weight: 100;
    fo
}