.header-main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
form {
  width: calc(100% / 4);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
select {
  width: 100%;
  padding-block: 10px;
}
.header-main-content h3 {
  display: block;
  width: 100%;
}
