.header-main-content {
  margin-top: 30px;
  background-color: white;
  padding: 20px;
}
.main-search-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
form {
  width: calc(100% / 4);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
form label {
  margin-bottom: 8px;
}
select {
  width: 100%;
  padding: 10px;
}
.header-main-content h3 {
  padding-bottom: 20px;
}
