.nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3) !important;
  z-index: 10000;
  /* display: none; */
}
.nav-overlay.show {
  /* display: block; */
}
