table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
}

tr {
  border-bottom: 1px solid #ddd;
}
th {
  text-align: left;
}
.user_image {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user_image_icon {
  display: flex;
  align-items: center;
  gap: 6px;
}
.user_group {
  /* padding-block: 5px; */
}
#tablephone {
  padding: 20px;
}
.group_tablephone {
}
thead {
  width: 100%;
}
