* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    font-size: 30px;
   display: flex;
   justify-content: center;
   margin-bottom: 20px;

}
.container {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.form_btn_green {
    border: 1px solid rgb(31,136,61);
    color: rgb(31,136,61);
}
.input_box {
    margin-bottom: 20px;
}
.input_box label {
    font-size: 15px;
}
.text_btn {
    margin-top: 30px;
    dis
}
.input_box input {
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid #ddd;
    color: black;
    margin-top: 8px;
    padding: 0 15px;
    border-radius: 6px;
    font-size: 1rem;
}
.form_btn {
    width: 100%;
    padding: 10px 0;
    background-color: rgb(31,136,61);
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.form_btn:hover {
   
        background-color: rgb(40, 129, 69);
    
}