* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    font-size: 30px;
   display: flex;
   justify-content: center;
   ma

}
.container {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.input_box label {
    font-size: 14px;
}
.input_box input {
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid #ddd;
    color: black;
    margin-top: 8px;
    padding: 0 15px;
    border-radius: 6px;
    font-size: 1rem;
}