/* Extra small devices (phones, 600px and down) */
:root{
    --white-color:#fff;
    --text-color:#6666;
    --text-color:#333333;
    --main-color:#3e2520;
    --primary-color:rgb(255,87,54);
    --border-color:#dbdbdb;
    --width: 1200px;

}
@media only screen and (max-width: 37.5em) {
    .logo {
        width: 75%;
    }

    .list__menu {
        flex-direction: column;
        gap: 0;
    }
    .header__logo {
        margin-top: -3px;
        margin-left: 10px;
    }
    .list-menu {
        margin-top: -28px;
        
    }
    .list-menu i {
        display: block;
        font-size: 30px;
        padding-right: 10px;
        right: ;
    }
    .header__list .list__menu {
        display: none;

    }
    header {
        width: auto;
    }
    .menu__social {
        display: none;
    }
    .btn__close {
        display: block;
    }
  
    .nav__menu:hover .buttom{
        color: var(--primary-color);
        border: 0;
    }
    .nav__menu:hover {
        border-radius: 20px;
        background-color: #cdcdcd;
        cursor: pointer;
    }
    .buttom {
        /* padding: 10px 100px; */
       

    }
  
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 37.5em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 75em) {

}
