/* Extra small devices (phones, 600px and down) */
:root{
    --white-color:#fff;
    --text-color:#6666;
    --text-color:#333333;
    --main-color:#3e2520;
    --primary-color:rgb(255,87,54);
    --border-color:#dbdbdb;
    --width: 1200px;

}
@media only screen and (max-width: 37.5em) {
    .logo {
        width: 75%;
    }

    .list__menu {
        flex-direction: column;
        gap: 0;
    }
    .header__logo {
        margin-top: -3px;
        margin-left: 10px;
    }
    .list-menu {
        margin-top: -28px;
        
    }
    .list-menu i {
        display: block;
        font-size: 30px;
        padding-right: 10px;
        right: 0;
    }
    .header__list .list__menu {
        display: none;

    }
    header {
        width: auto;
    }
    .menu__social {
        /* display: none; */
        position: ;
    }
    .btn__close {
        display: block;
    }
  
    .nav__menu:hover .buttom{
        color: var(--primary-color);
        border: 0;
    }
    .nav__menu:hover {
        border-radius: 20px;
        background-color: #cdcdcd;
        cursor: pointer;
    }
    .buttom {
        /* padding: 10px 100px; */
       

    }
    nav {
        flex-direction: column-reverse;
        margin-top: -30px;
    }
    .nav__name {
        align-items: center;
        margin-top: -40px;
        
    }
    .nav__logo img {
        width: 200px;
    }
    .nav__name h3 {
        font-size: 1.5rem;
    }
    .header-title h3 {
        font-size: 2rem;
    }
    .header-title {
        margin-bottom: 20px;
    }
    .header-title p {
        font-size: 15px;
    }
    .logo__cart {
     
    }
    .logo__cart img {
        width: 90%;
    }
    .header-logo {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px 10px;
        margin-top: -12px;
    }
    #header {
        margin-top: -12px;
        
    }
    .main__projects {
        grid-template-columns: 1fr;
        grid-gap: 10px 0;
    }
    footer p {
        font-size: 12px;
    }
    header {
        padding: 0 5px;
    }
    nav {
        padding: 0 5px;
    }
    #header {
        padding: 0 5px;
    }
    #main {
        padding: 0 5px;
    }
    
  
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 37.5em) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {
    .list__menu {
        gap: 30px;
    }
    .menu__social {
        gap: 8px;
    }
    header {
        padding: 0 5px;
    }
    nav {
        padding: 0 5px;
    }
    .nav__name h3 {
        font-size: 2rem;
    }
    .nav__logo img {
        width: 200px;
    }
    #header {
        padding: 0 5px;
    }
    .main__projects {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 30px;
    }
    #main {
        padding: 0 5px;
    }
    footer p {
        font-size: 15px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 75em) {

}
