* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white-color:#fff;
    --text-color:#6666;
    --text-color:#333333;
    --main-color:#3e2520;
    --primary-color:rgb(255,87,54);
    --border-color:#dbdbdb;
    --width: 1200px;

}
.color_name {
    color: rgb(19, 176, 245) !important;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--width);
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}
.list__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.buttom {
    color: var(--text-color);
    font-size: 20px;
   transition-duration: 300ms;
   transition: all;
   
}
.list-menu {
    position: absolute;
    right: 0;
}
.list-menu i {
    display: none;
    
    
}
.list-menu i:hover {
    color: var(--primary-color);
}
.buttom:hover {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.menu__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.social-link i {
    color: var(--white-color);
}
.nav__social-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--text-color);
    text-align: center;
    line-height: 30px;
    cursor: pointer;
   
}
.dropdown_menu {
    margin-top: 24px;
}
.display {
    position: absolute;
}
.dropdown_mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 120px);
    max-width: 100%;
    background-color: var(--white-color);
    transform: translatex(100%);
    opacity: 0;
    overflow: hidden;
    transition:  transform linear 0.2s, transform linear 0.2s;

}
.dropdown_mobile.active {
    transform: translateX(0);
    opacity: 1;
}
.div__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);
    display: none;
}
.dropdown_menu li {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    
}
.dropdown_menu li a {
    color: var(--text-color);
}

.btn__close {
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    color: #333333;
    right: 1rem;
    font-weight: 900;
    display: none;
    margin-top: 1rem;

}
.btn__close:hover {
    color: var(--primary-color);
}
nav {
    max-width: var(--width);
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav__name {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-top: 60px;
    

}
.nav__name h3 {
    padding: 5px 0;
    font-size: 2.5rem;
    color: #42446E;
}
.nav__logo img {
    border-radius: 50%;
    border: 5px solid rgba(231, 15, 170, 1);
    margin-top: 60px;
    width: 260px;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--width);
    margin-top: 90px;
    
}
.header-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 105px;
    margin-top: 70px;
}
.logo__cart {
    max-width: calc(calc(100% / 12) * 6);;
}
.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-title h3 {
    font-size: 3rem;
    color: #42446E;
    text-transform: capitalize;

}
.header-title p {
    padding: 10px 0;
    font-size: 20px;
    color: #333333;
    
}

