* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white-color:#fff;
    --text-color:#6666;
    --text-color:#333333;
    --main-color:#3e2520;
    --primary-color:rgb(255,87,54);
    --border-color:#dbdbdb;
    --width: 1200px;

}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width);
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}
.list__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.buttom {
    color: var(--text-color);
    font-size: 20px;
   transition-duration: 300ms;
   transition: all;
   
}
.list-menu i {
    display: none;
}
.list-menu i:hover {
    color: var(--primary-color);
}
.buttom:hover {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.menu__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.nav__social-link {
    
    
}
.social-link i {
    color: var(--white-color);
}
.nav__social-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--text-color);
    text-align: center;
    line-height: 30px;
    cursor: pointer;
   
}
.dropdown_menu {
    position: absolute;
    right: 0;
    top: -20px;
    width: calc(100% - 80px);
    height: 400px;
    background-color: var(--white-color);
    backdrop-filter: blur(15px);
    display: none;
    
    overflow: hidden;
}
.div__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);
}
.dropdown_menu li {
    padding: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    
}
.dropdown_menu li a {
    color: var(--text-color);
}
.btn__close i {
    font-size: 1.4rem;
    position: absolute;
    top: 1rem;
    color: #333333;
    right: 1rem;
    /* line-height: 500; */

}
