
#main {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    background-color: aqua;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo_github {
    font-size: 25px;
    
    color: white;
}