*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
#main {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo_github {
    font-size: 25px;
    
    color: white;
}
.header_user {
    display: flex;

}
.header_user p {
    color: rgb(96,111,140);
}
.header_user a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.header_user a:ho