*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
body {
    background-color: rgb(20, 20, 20);
}
#main {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo_github {
    font-size: 25px;
    
    color: white;
}
.header_user {
    display: flex;

}
.header_user p {
    color: rgb(96,111,140);
}
.header_user a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.header_user i {
    font-size: 10px;
}
.header_user a:hover {
    text-decoration:underline;
}
.container {
   width: 654px;
    max-width: 100%;
    margin: 0  auto;
    margin-top: 80px;
    border: 1px solid rgb(86, 87, 88);
    background-color: rgb(12,22,45);
    border-radius: 5px;
    padding: 20px;
}
#text_welcome {
    font-size: 18px;
    color: rgb(96,111,140);
    line-height: 30px;
}
.typing_animation {
    animation: typing 3s steps(20, end);
}
.input_box {
    margin-top: 15px;
}
.gmail_text-cart {
    color: rgb(0,207,200);
}
.input_gmail_add {
    margin: 15px 0;
    width: 100%;
}
.control_gmail:focus {
    border-color: rgb(9, 105, 218) !important;
}
.control_password:focus {
    border-color: rgb(9, 105, 218) !important;
}
.input_gmail_add i {
    color: darkmagenta;
    font-size: 12px;
}
.form_btn {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.form_btn_green {
    border: 1px solid rgb(31,136,61);
    color: rgb(31,136,61);
}
.control_gmail {
    width: calc(100% - 105px);
    background-color: transparent;
    border: 0;
    color: white;
    padding: 8px 10px;
    font-size: 15px;
}
.password_text-cart {
    color: rgb(0,207,200);
}
.input_password_add {
    margin: 15px 0;
    width: 100%;
}
.input_password_add i {
    color: darkmagenta;
    font-size: 12px;
}
.form_btn {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.form_btn_green {
    border: 1px solid rgb(31,136,61);
    color: rgb(31,136,61);
}
.control_password {
    width: calc(100% - 149px);
    background-color: transparent;
    border: 0;
    color: white;
    padding: 8px 10px;
    font-size: 15px;
}
.eye_use {
    color: white !important;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
}
/* username */
.username_text-cart {
    color: rgb(0,207,200);
}
.input_username_add {
    margin: 15px 0;
    width: 100%;
}
.control_username:focus {
    border-color: rgb(9, 105, 218) !important;
}
.control_password:focus {
    border-color: rgb(9, 105, 218) !important;
}
.input_username_add i {
    color: darkmagenta;
    font-size: 12px;
}
.control_username {
    width: calc(100% - 105px);
    background-color: transparent;
    border: 0;
    color: white;
    padding: 8px 10px;
    font-size: 15px;
}
footer {
    width: 654px;
    max-width: 100%;
    margin: 0  auto;
    margin-top: 80px;
}
footer p {
    font-size: 18px;
    color: rgb(96,111,140);
    line-height: 20px;
}