* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 310px;
    max-width: 100%;
    margin: 0  auto;
}
header img {
    width: 20%;
    height: 20%;
    margin: 0  auto;
}